extend _includes/_layout
append variables
  //- Required
  - var pageTitle= "インターンシップ｜採用情報｜丸井グループ -maruigroup website-";
  - var pageDescription= "丸井グループの「インターンシップ」についてご紹介します。自らの成長を体感するインターンシッププログラム";
  - var pageKeywords= "インターンシップ,採用情報,丸井グループ";
  //- Optional
  - var pageOgpTitle= "インターンシップ｜採用情報｜丸井グループ -maruigroup website-";
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= "index.html";
  - var lang= "ja";

block content
  //- contents

  //- mv
  .mv-Wrapper
    .mv
      .mv-Inner
        .mv-Img_Wrapper
          h1
            img.for-Pc(src='./assets/img/mv/mv-copy.png', alt='インターン ロゴ')
            img.for-Sp(src='./assets/img/mv/mv-copy_sp.png', alt='インターン ロゴ')
        .mv-ScrollWrapper
          .mv-Scroll
            .mv-ScrollInner
              span.outline
              span.ball

  //- message
  .message-Wrapper#message
    .message
      .message-Inner
        .message-Title.wow.fadeInUp(data-wow-delay='0.2s')
          h2 MESSAGE
          span メッセージ
        .message-Contents_Wrapper
          .message-Txt_Wrapper.wow.fadeInUp(data-wow-delay='0.3s')
            h3 “働く”を考え、<br>自らの成長を体感する
            p 「成長したい」と一歩踏み出す学生を<br>さまざまなプログラムを通じて真剣に応援します。<br class="hidden_SP">自分の思い描く“働く”を考え、<br>自分自身の足りないところを見つめなおす。<br class="hidden_SP">それこそが社会人への第一歩です。
          .message-Img_Wrapper.wow.fadeInUp(data-wow-delay='0.3s')
            img.for-Pc(src='./assets/img/message/message.png', alt='インターンの様子')
        .message-Ornament_Wrapper#js-parallax_01
          img.for-Pc(src='./assets/img/message/message-ornament.png', alt='装飾')
          img.for-Sp(src='./assets/img/message/message-ornament_sp.png', alt='装飾')

  //- voice
  .voice-Wrapper#voice
    .voice
      .voice-Inner
        .voice-Contents_Wrapper
          .voice-Contents.wow.fadeInUp(data-wow-delay='0.2s')
            .voice-Title
              h2 VOICE
              span 参加者の声
          .voice-Contents.wow.fadeInUp(data-wow-delay='0.3s')
            img(src='./assets/img/voice/voice-01.png', alt='参加者の声1')
          .voice-Contents.wow.fadeInUp(data-wow-delay='0.4s')
            img(src='./assets/img/voice/voice-02.png', alt='参加者の声2')
          .voice-Contents.wow.fadeInUp(data-wow-delay='0.5s')
            img(src='./assets/img/voice/voice-03.png', alt='参加者の声3')
          .voice-Contents.wow.fadeInUp(data-wow-delay='0.6s')
            img(src='./assets/img/voice/voice-04.png', alt='参加者の声4')
          .voice-Contents.wow.fadeInUp(data-wow-delay='0.7s')
            img(src='./assets/img/voice/voice-05.png', alt='参加者の声5')
        .voice-Ornament_Wrapper#js-parallax_02
          img(src='./assets/img/voice/voice-ornament.png', alt='装飾')

  //- program
  .program-Wrapper#program
    .program
      .program-Inner
        .program-Title.wow.fadeInUp(data-wow-delay='0.2s')
          h2 PROGRAM
          span プログラム内容
        .program-Step_Wrapper
          .program-Step.wow.fadeInUp(data-wow-delay='0.2s')
            .program-Step_Img_Wrapper
              img(src='./assets/img/program/program-icon_step01.png', alt='プログラム ステップ1')
            .program-Step_Title_Wrapper
              span Step.01
              p 「働くとは？」を考える。<br>事業を知る。
            .program-Step_Body_Wrapper
              p 世の中の流れについて学びを深め、「働くとは？」を深堀りしていきます。丸井グループの理念や、幅広い事業領域について理解します。
          .program-Step.wow.fadeInUp(data-wow-delay='0.2s')
            .program-Step_Img_Wrapper
              img(src='./assets/img/program/program-icon_step02.png', alt='プログラム ステップ2')
            .program-Step_Title_Wrapper
              span Step.02
              p.spacing 自ら考え、提案する。
            .program-Step_Body_Wrapper
              p 丸井グループの事例紹介を踏まえて、新たな提案や解決策についてチームで答えを出すことで学びを深めます。実際に働く社員からフィードバックをもらい、社会人と学生の差について考えていきます。
            span.tri.white
            span.tri_sp.white
          .program-Step.wow.fadeInUp(data-wow-delay='0.2s')
            .program-Step_Img_Wrapper
              img(src='./assets/img/program/program-icon_step03.png', alt='プログラム ステップ3')
            .program-Step_Title_Wrapper
              span Step.03
              p.spacing ビジネスの環境を体験する。
            .program-Step_Body_Wrapper
              p ビジネスとは、机上の空論ではありません。例え、ＩＴ関連の事業であっても必ず「現場」があります。「現場」を知り、どういうビジネスチャンスを見出すかを体験します。
            span.tri.gray
            span.tri_sp.gray
        .program-Message_Wrapper.wow.fadeInUp(data-wow-delay='0.2s')
          .program-Message
            p 自分自身を見つめ直し、働く意味やどんな社会人になりたいのか、皆さんと一緒に考えていきます。<br>この3ステップを通じて、自分自身の成長を感じることができるはずです。<br class="hidden_SP">業界や事業といった一面的ではなく、本質的な見方、考え方を身につけ<br class="hidden_SP">成長したい方の参加をお待ちしています。
        .program-Date_Wrapper.wow.fadeInUp(data-wow-delay='0.2s')
          p ※実施日程(予定)はリクナビを通じて、丸井グループに【エントリー】してご確認ください。
          p 2017年実績 ▶ 夏：6・10日間 / 秋：3日間(1DAY＋2DAYS) / 冬：3日間
        .program-Ornament_Wrapper01#js-parallax_03
          img(src='./assets/img/program/program-ornament01.png', alt='装飾')
        .program-Ornament_Wrapper02#js-parallax_04
          img(src='./assets/img/program/program-ornament02.png', alt='装飾')

  //- gallery
  .gallery-Wrapper#gallery
    .gallery
      .gallery-Inner
        .gallery-Title.wow.fadeInUp(data-wow-delay='0.2s')
          h2 GALLERY
          span 昨年度のインターンシップの様子
        .gallery-Img_Wrapper
          .gallery-Img.wow.fadeInUp(data-wow-delay='0.2s')
            img(src='./assets/img/gallery/gallery-img01.png', alt='昨年度のインターンシップの様子1')
          .gallery-Img.wow.fadeInUp(data-wow-delay='0.3s')
            img(src='./assets/img/gallery/gallery-img02.png', alt='昨年度のインターンシップの様子2')
          .gallery-Img.wow.fadeInUp(data-wow-delay='0.4s')
            img(src='./assets/img/gallery/gallery-img03.png', alt='昨年度のインターンシップの様子3')
          .gallery-Img.wow.fadeInUp(data-wow-delay='0.5s')
            img(src='./assets/img/gallery/gallery-img04.png', alt='昨年度のインターンシップの様子4')
          .gallery-Img.wow.fadeInUp(data-wow-delay='0.6s')
            img(src='./assets/img/gallery/gallery-img05.png', alt='昨年度のインターンシップの様子5')
          .gallery-Img.wow.fadeInUp(data-wow-delay='0.7s')
            img(src='./assets/img/gallery/gallery-img06.png', alt='昨年度のインターンシップの様子6')
        .gallery-Ornament_Wrapper#js-parallax_05
          img.for-Pc(src='./assets/img/gallery/gallery-ornament.png', alt='装飾')
          img.for-Sp(src='./assets/img/gallery/gallery-ornament_sp.png', alt='装飾')

  //- info
  .info-Wrapper#info
    .info
      .info-Inner
        .info-Table_Wrapper
          .info-Title.wow.fadeInUp(data-wow-delay='0.2s')
            h2 INFORMATION
            span 基本情報
          .info-Body_Wrapper.wow.fadeInUp(data-wow-delay='0.2s')
            .info-Row_Wrapper
              .info-Row_Left
                p 実施日程
              .info-Row_Right
                p 詳しくは<a href="https://job.rikunabi.com/2019/company/r346600039/internship/" target="_blank">リクナビ</a>で確認してください
            .info-Row_Wrapper
              .info-Row_Left
                p 募集人数
              .info-Row_Right
                p 各回30〜35名程度
            .info-Row_Wrapper
              .info-Row_Left
                p 実施場所
              .info-Row_Right
                p 丸井グループ本社・他（東京）
                p.attn ※詳細は参加される方にお送りいたします。
            .info-Row_Wrapper
              .info-Row_Left
                p 参加資格
              .info-Row_Right
                p 四年生大学・大学院在学の方
            .info-Row_Wrapper
              .info-Row_Left
                p 問い合わせ先
              .info-Row_Right
                p 株式会社丸井グループ　インターンシップ担当
                p 03-4321-0906
                p 受付時間　10：00～18：00（水・日・定休日）
                p.attn ※なお、本インターンシップ・プログラムは、<br class="hidden_SP">当社の新卒採用選考とは一切関係ありませんので予めご了承ください。
          .info-Ornament_Wrapper02
            img(src='./assets/img/info/info-ornament02.png', alt='装飾')
        .info-Ornament_Wrapper01#js-parallax_06
          img.for-Pc(src='./assets/img/info/info-ornament01.png', alt='装飾')
          img.for-Sp(src='./assets/img/info/info-ornament01_sp.png', alt='装飾')

  //- entry
  .entry-Wrapper#entry
    .entry
      .entry-Inner
        .entry-Up
        .entry-Middle
          a(href="https://r-ship2.jp/2019/marui/register/" target="_blank")
            span.Txt ENTRY
            span.Txt_sub 今すぐエントリーする
            include /_includes/_arrow
        .entry-Bottom

  //- /contents
