// z-index
// 参照169p

// loading
$Z_LOADING: 21;
$Z_LOADING_BG: 20;

// Header
$Z_HEADER_MENU: 6;
$Z_HEADER: 5;

// Nav
$Z_NAV: 5;
$Z_NAV_BG: 4;

// triangle
$Z_TRI: 2;

// Ornament
$Z_ORNAMENT: 2;

// Title
$Z_TITLE: 1;
